
#popular{
  padding: 100px 0;
  h2{
    padding: 30px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #131313;
    margin-bottom: 60px ;
  }
  .popular{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    &--card{
      width: 26%;
      border: 3px solid blue;
      padding: 30px 0;
      border-radius: 10px;
      -webkit-box-shadow: -5px -5px 30px 1px rgba(0, 144, 255, 0.6) inset;
      -moz-box-shadow: -5px -5px 30px 1px rgba(0, 144, 255, 0.6) inset;
      box-shadow: -5px -5px 30px 1px rgba(0, 144, 255, 0.6) inset;

      h1{
        text-align: center;
        color: #000000;
        margin-top: 20px;
      }

    }
  }
  .popularBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
      background: red;
      padding: 20px 30px;
      cursor: pointer;
      margin: 60px 20px;
      color: white;
      border-radius: 10px;
      font-size: 20px;

    }
  }

}